
body {
	font-family: 'Titillium Web', sans-serif;
	margin: 0px;
}

.section{
  width:100%;
  margin-bottom: 0rem;*/
  /*background-color:red;*/
}

.container{
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
  padding:1.5rem;
  /*background-color: green;*/
}

.room .container .grid {
	width: 100%;
}
.room .container .grid img{
	width: 100%;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

.footer {
	background-color: black;
}
.footer .container .grid{
	color: white;
}
.footer .container .grid .address{
	text-align: center;
	color: white;
}

.main_nav ul{
	padding: 0px;
	text-align: center;
}

.main_nav li{
	background-color: black;
	margin: 0.5em;
	line-height: 2em;

}
.main_nav li a{
	color: white;

}

.main_nav li a:hover{
	color:black;
}


.main_nav li:hover, .main_nav li:active, .main_nav li:focus {
	background-color: rgb(48,190,220);
	color: black;

}


[class*='cell-']{
	text-align: center;
	margin-bottom: 1em;
}

input,select{
	font-size: 1em;
	color: rgb(204,204,204);

	border-radius: 5px;

}


.book-button{
	padding: 0.5em;
	font-size: 1em;
	color: white;
	border-radius: 5px;
	border-style: none;
	background-color: rgb(255,62,46);
	color:white;

}
.cell-book-button{
	margin-top: 1.5rem;
	display: block;

}
.book-button:hover{
	background-color: gray;
	text-decoration: none;
	color: white;
}
.book-button button{
	width: 5rem;

	}


.book-button button:hover, .main_nav li:active, .main_nav li:focus{
	background-color: gray;
	text-decoration: none;
	color: white;

}



.about-us {
	display: none;
}


/*********************** web page 50em********************************/



input{

	font-size: 1em;
	color:gray;
}







.main_nav{
	text-align: center;
	background-color: rgba(0,0,0, 0.2);
	color: gray;
 	float: right;
	width: 100%;
	text-align: center;
	font-weight:600;
	font-size: 1em;
	margin-top: 2em;
}


.main_nav ul{
	margin-top: 0em;
	text-align: center;
	border-top: solid thin white;
	border-bottom: solid thin white;
}

.main_nav li{
	margin: 0px;
	text-align: center;
	display: inline;
	padding-right: 1em;
	padding-left: 1em;
	background-color: inherit;

}

.main_nav li:last-of-type{

}

.main_nav a{
	text-decoration: none;
	color: white;
}

.main_nav a:hover{
	text-decoration: none;
	color: black;
}

.main_nav li:hover, .main_nav li:active, .main_nav li:focus {
	background-color: white;
	color: black;
}





#online-reservation{
display:none;

}






[class*='cell-'] {
  float: left;
  padding: 0.5em;

}



.book-button button{
	width: 13%;
	font-size: 80%;
	color: white;
	border-radius: 5px;
	border-style: none;
	background-color: rgb(255,62,46);
	margin-top: 1em;


}

.book-button button a{
	text-decoration:none;

	color:white;
}
.book-button button:hover, .main_nav li:active, .main_nav li:focus{
	background-color: gray;
	text-decoration: none;
	color: white;

}



.view-more-rooms{
	width: 100%;
	text-align: center;
	background-color:black;
	line-height: 2em;
}


/*.grid:after {
  content: "";
  display:table;
  clear: both;
}*/



.about-img, .about-address{
	float: left;

}

.footer-img-address:after{
	content: "";
	clear: both;
	display: table;

}

.about-us{
	display: block;
}

.about-us li{
	display: inline;
	padding: 0.5em;
	line-height: 0em;
}





/******************************media 80em size********************/



body {
	width: 100%;
	background-color: rgba(204,204,204, 0.5);

}

p {

	line-height: 1.5em;
	font-size:;
}


h3{
	text-align: left;
	font-weight: bold;

}

h2{
	text-align: center;

}

a{

	text-decoration: none;
}

form label, form input, form select{
	font-family: 'Titillium Web', sans-serif;

}
input{

	font-size: 1em;
	color: gray;
}

/************** HEADER AND NAV ****************/

header{
	background-image: url(img/background-img-3.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	height: 35em;
	}





/************* WEATHER AND RESERVATION TABLE *****************/





input, label,select{
	margin: 0;
}


label{
	text-transform: uppercase;
	color:rgb(48,190,220);

}
select{

	background-color: white;
	border-radius: 5px;
	font-size: 16px;
	height: 1.5em;
}

input{

	border-radius: 5px;
	height: 2em;
	width: 100%;
}



[class*='cell-'] {
  float: left;

	/*padding-bottom: 2rem*/


}

.reservation .col-9{
	padding-right: 0px;
}
.reservation {
	background-color: white;
}
.reservation .container .grid{
}
.reservation .container {
	/*background-color: red;*/
}
.reservation .container .formgroup{
	content: "";
  display: block;
  clear: both;
	/*background-color: red;*/
}

.reservation .container .formgroup form{
	content: "";
  display: block;
  clear: both;
	background-color: red;
}


/****************HOME PAGE MIDDLE BODY************/







.view-more-rooms {

	color: rgb(48,160,192);
	font-weight: bold;
 	text-align: center;

}



.view-more-rooms a, .view-more-details a{
	text-decoration:none;
	color: rgb(48,160,192);
}

.view-more-rooms a:hover, .view-more-rooms a:active, .view-more-rooms a:focus {
	color: red;
}
.view-more-details a:hover, .view-more-details a:active, .view-more-details a:focus {
	color: red;
}
.view-more-details{
 	font-weight: bold;
 }


.about-background{
	background-color: white;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 15%;
	padding-right: 15%;}

}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.about-wrapper{
	display:block;
	line-height: 0.5em;
	background-color: white;
	padding: 15%;
	padding-top:5%;
	padding-bottom:5%;

}


.about-wrapper .about-title p{

	line-height: 0.5em;
}
/*.grid2 img{
	width: 100%;

}*/
.about-img{
	float: left;
	width: 50%;
	padding-right: 2em;

}
.about-intro{
	float: left;
	width: 50%;
}

.about-title{
	padding:0;
	margin-bottom: 2em;
}
.about{
	background-color: white;
}
.about .container .grid .col-12{
	padding-bottom: 3rem;
}
.about .container .grid .title{
	text-align: center;
	line-height: 1rem;
	font-size: 0.9rem;
}
.about .container .grid img{
	width: 100%;
}
.about .container .grid .title ul{
	padding:0px;
}
.about .container .grid .title ul li{
	display: inline;
}
.about-title p{
	text-align: center;
	font-size: 1.5rem;
}
.about-title ul {
	text-align: center;
}
.about-title ul li{
	display: inline;
	list-style: none;
	margin-right: 2em;
}



/*.grid:after {
  content: "";
  display: table;
  clear: both;
}*/





/************** FOOTER SECTION  ****************/
.page-footer{
	background-color: #000;
	color: #FFF;
	overflow: auto;
	padding-left: 20%;
	padding-right: 20%;


}
.footer-upper{
	margin-left: 15%;
	margin-right: 15%;
}

.footer-wrapper{
	padding:;
}
.page-footer ul li{

	list-style: none;
}

.footer-img-address{

	margin-right: 3em;
	float: left;
}
.footer-address{
	float: left;

}
.footer-img{
	padding-top: 1em;
	float: left;
	padding-bottom: 1em;

}

.footer-follow{
	float: left;
}


.about-us{
	border-top: solid thin white;
	clear: both;
	width: 100%;
	text-align: center;
}

.about-us ul li{
	border-left: solid thin white;
	display:inline;
	padding: 1em;
	padding-top: 0;
	padding-bottom: 0;
}



#term-of-use {
	border-right: solid thin white;
}
#rights{

	border-left: none;
}

#icon img{
	width: 3em;
}
/******** about us *******/
.nav-bar{
	background-image: url(img/background-img-3.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	height: 30em;}
	
@media (max-width: 60rem) {
	.reservation .container .grid .col-7,.reservation .container .grid .col-5{
		width:100%;
	}

	.about .container .grid .col-6{
		width:100%;
	}
}
@media (max-width: 50rem) {
	.room .container .grid .col-4{
		width: 100%;
		padding-right: 0rem;
	}
}
@media (max-width: 40rem) {
	.nav-bar .main_nav ul li{
		width:100%;
		display: block;
		background-color: black;
		margin-bottom: 0.5rem;
		/*background-color: red;*/
	}

	.nav-bar{
		background-image: none;
		background-color: white;
	}
	.main_nav{
		text-align: center;
		background-color: white;
}

@media (max-width: 30rem) {
	.reservation .container .grid .col-7 .col-4,.reservation .container .grid .col-5 .col-4{
		width:100%;

	}
	.nav-bar{
	height: 0em;}


}

