@charset "UTF-8";
/* home page */

body {
	font-family:Verdana, Geneva, sans-serif;
	background-color: rgb(197,203,207);
}
header{
	background-image: url(img/nuur-5.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	height: 30em;
	
	}
	
header ul{

	margin-top: 2em;
	padding-top: 0.5em;
	height: 1.5rem;
	list-style: none;
	background-color: #000;
	color: #fff;
	text-align: center;
	text-justify:distribute;
	
}

.main_nav {
 	float: right;
	overflow: auto;
	
	clear:both;
	margin-top:3em;
 	
}
.main_nav li{
	display: inline;
	margin: 1em;
}

/******************************/
.weather-and-reservation {
	overflow:auto;
	background-color: #FFFFFF;
	position: fix;
	margin-top:-2.6em;
	margin-bottom: 1em;
	margin-left: 10%;
	width:85%;

	
	
	
}
	
table{
	margin: 2em;
	
}

.make-reservation{
	margin: 1em;
	width: 9em;	
	float: left;
	color: white;
	text-align: center;
	background-color: rgb(48,160,192);

}
.weather{
	text-align: center;
	height: 2rem;
	padding-top: 0.5em;
	margin-top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	list-style: none;
}
.weather li{
	display: inline;
	margin: 1em;	
}

.room{
	overflow: auto;
	
}

#roomshowimages{
	margin-left: 10%;
	display: inline-block;
}


.room div{
	padding: 1em;
 	float: left;
 }
 

.room p{
	width: 300px;
}


.room ul li{
	clear: both;
	text-align: center;
	list-style: none;
	
}

/*****************************/
.about-sunrise{
	background-color: #FFF;
	padding-top: 1em;
	overflow:auto;
	
	
}
.about-sunrise-img{
	margin-left: 10%;
	
}
.about-sunrise-img img{
	
float: left;

}
.about-sunrise-img-big{
	width: 40%;
	margin-left: 10%;
	margin-right: 2em;
	margin-bottom: 3em;
	float: left;
	
}


.about-sunrise-title{
	text-align:center;
}

.about-sunrise ul{
	text-align:center;
	
}

.about-sunrise ul li{
	list-style: none;
	display:inline;
	margin: 1em;
}

.hotel-intro{
	
margin-right: 10%;
	
}

/*******************************/


.event {
	clear: both;
	width: 100%;
	display: inline-block;
	margin-bottom: 1em;
}

.event h1, .event h2{
	
	text-align: center;
	
}
.event div{
	padding: 1em;
 	float: left;
 }
 

.event div p{
	width: 300px;
}

.event-images{
	
	margin-left:10%;
}

#footer{
	background-color: #000;
	color: #FFF;
	overflow:auto;
	text-align: center;
	
}
 
#footer ul li{
	clear: both; 
	list-style: none;
	display: inline;
	margin-right: 1em;
	
}



.about-us ul{
	
	text-align: center;
	}
.about-us li{
	clear: both;
	margin: 1em;
	

		
}
