
body {
	font-family: 'Titillium Web', sans-serif;
	padding: 0px;

}


.nav-bar{
	background-image: url(../img/background-img-2-1.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	height: 35em;}

 .main_nav{
	text-align: center;
	background-color: rgba(0,0,0, 0.2);
	color: gray;
 	float: right;
	width: 100%;
	font-weight:600;
	font-size: 1em;
	margin-top: 2em;
}


.main_nav ul{
	margin-top: 0em;
	text-align: center;
	border-top: solid thin white;
	border-bottom: solid thin white;
	padding: 0px;
}

.main_nav li{
	text-align: center;
	display: inline;
	padding-right: 1em;
	padding-left: 1em;
	background-color: inherit;
	line-height: 2em;

}
.main_nav a{
	text-decoration: none;
	color: white;
}

.main_nav a:hover{
	text-decoration: none;
	color: black;
}


.main_nav li:hover, .main_nav li:active, .main_nav li:focus {
	background-color: rgb(48,190,220);

}


.fancybox img{
   border: 10px solid white;
  position: relative;
    } 


.fancybox:hover{
     transform: scale(1.03,1.03);
    }




.about-title{
	font-family: Verdana, sans-serif;
	text-align: center;
	line-height: 0em;
	font-weight: 400;
	font-size: 1.2em;
}
.title li{
	padding-right: 2em;
}

.section{
  width:100%;
  margin-bottom: 0rem;

}

.container{
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
  padding:1.5rem;
}


.room .container .grid {
	width: 100%;
}
.room .container .grid img{
	width: 100%;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

label, input, select{
	font-size: 1.2em;
	border-radius: 5px;

}

input, select{
	border: solid thin black;
	background-color: white;
	
}
input{
	color: rgb(204,204,204);
	height: 1.7em;
	width: 100%;
}

label{
	font-weight: 600;
	color: rgb(48,190,220);

}



[class*='cell-'] {
  float: left;
  padding: 0.5em;
	text-align: center;

}


.footer a{
	color: white;
}



.footer {
	background-color: black;
}
.footer .container .grid{
	color: white;
}
.footer .container .grid .address{
	text-align: center;
	color: white;
}





/****** button *******/

.book-button{
	padding: 0.5em;
	font-size: 1em;
	color: white;
	border-radius: 5px;
	border-style: none;
	background-color: rgb(255,62,46);
	color:white;

}

.book-button:hover{
	background-color: gray;
	text-decoration: none;
	color: white;
}

.book-button:focus{
  background-color: gray;

}

.cell-book-button{
	margin-top: 1.5rem;
	display: block;

}


.book-button button{
	width: 13%;
	font-size: 80%;
	color: white;
	border-radius: 5px;
	border-style: none;
	background-color: rgb(255,62,46);
	margin-top: 1em;


}


.book-button button:hover, .main_nav li:active, .main_nav li:focus{
	background-color: gray;
	text-decoration: none;
	color: white;

}



.book-button button a{
	text-decoration:none;

	color:white;
}



p {

	line-height: 1.5em;
	text-align: left;
}



h3{
	text-align: left;
	font-weight: bold;

}

h2{
	text-align: center;

}




.reservation .col-9{
	padding-right: 0px;
}
.reservation {
	background-color: white;
}
.reservation .container .grid{
}

.reservation .container .formgroup{
	content: "";
  display: block;
  clear: both;
}



.view-more-rooms {

	color: rgb(48,160,192);
	font-weight: bold;
 	text-align: left;

}



.view-more-rooms a, .view-more-details a{
	text-decoration:none;
	color: rgb(48,160,192);
}

.view-more-rooms a:hover, .view-more-rooms a:active, .view-more-rooms a:focus {
	color: red;
}



*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}


.about .container .grid .col-12{
	padding-bottom: 3rem;
}
.about .container .grid .title{
	text-align: center;
	line-height: 1rem;
	font-size: 0.9rem;
}
.about .container .grid img{
	width: 100%;
}
.about .container .grid .title ul{
	padding:0px;
}
.about .container .grid .title ul li{
	display: inline;
}



.about-us{
	border-top: solid thin white;
	clear: both;
	width: 100%;
	text-align: center;
}

.about-us ul li{
	border-left: solid thin white;
	display:inline;
	padding: 1em;
	padding-top: 0;
	padding-bottom: 0;
}


#term-of-use {
	border-right: solid thin white;
}
#rights{

	border-left: none;
}

@media (max-width: 100rem) {

	.nav-bar{
		height: 30em;
	}

	.logo img{
		width:18em;
		position: absolute;
		margin-top: 0.5em;
		margin-left: 5em;
	}

}

	@media (max-width: 80rem) {
	.reservation .container .grid .col-7,.reservation .container .grid .col-5{
		width:100%;


	}
	.logo img{
		width: 15em;
		margin-top: 6em;
		margin-left: 3em;
	
	}
	

}
	
@media (max-width: 60rem) {



	.nav-bar{
		height: 25em;
	}


}


@media (max-width: 50rem) {
	.room .container .grid .col-4{
		width: 100%;
		padding-right: 0rem;
	}
	

	.nav-bar{
		height: 20em;
	
	}
}


@media (max-width: 40rem) {

	.nav-bar .main_nav ul li{
		width:100%;
		display: block;
		background-color: black;
		margin-bottom: 0.5rem;
	}

	.logo img{
		width: 100%;
		position: relative;
		margin:0em;
	}


	.nav-bar{
		background-image: none;
		background-color: white;
		height: 0em;

	}
	.main_nav{
		margin-top:0em;
		text-align: center;
		background-color: white;
}

	.about .container .grid .col-6{
		width:100%;
	}


}



