body{
  background-color: white;
}
.path{
  margin-top: 3em;
}
.path p{
  color: white;
  font-weight: 600;
  font-size: 1.5em;
}


.confirmation-title{
  color: white;
}

h3{
  text-align: center;
}
.path .container{
   max-width: 50em;
  padding: 0.1em;
  background-color: rgb(48,190,220);
  text-align: center;
  
}



.info .container{
  background-color:rgb(245, 245, 245);
  margin-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 50rem;
}
.info .container  .grid .col-6 h2{
  text-align: left;
}
.info .container .grid .col-6 img{
  width: 100%;
}
.info .container .grid{
}
.info .container .grid .continue{
  margin-top: 2rem;
}
.info .container .grid .addanother{
  text-align: right;
}
.info .container .grid .col-12 p{
  text-align: center;
}
.info .container .grid .col-12 h1{
  text-align: center;
}
.info .container .grid .col-6{
  margin-bottom: 1rem;
}
.info .container .grid .last{
  padding-right: 0;
}
.info .container .grid .col-6 .grid .col-3{
  padding-right: 1rem;
}
.info .container .grid .col-6 .grid .col-9{
  padding-right: 0rem;
}
.info .container .grid .col-6 .grid .col-3 select{
  height: 1.9rem;
  width: 100%;
}

@media (max-width: 30rem) {
  .reservation .container .grid .col-7 .col-4,.reservation .container .grid .col-5 .col-4{
    width:100%;

  }
  .nav-bar{
  height: 0em;}

  

  .main_nav ul li:hover{
    background-color: rgb(48,190,220);
    
  }

  }

