@media (max-width: 80rem) {
	
	.nav-bar{
	height: 25em;}

	
	}
@media (max-width: 70rem) {
	
	.nav-bar{
	height: 20em;}

	
	}
@media (max-width: 60rem) {
	
	.nav-bar{
	height: 16em;}

	
	}
@media (max-width: 50rem) {
	
	.nav-bar{
	height: 14em;}

		.fancybox .image-big{
		width: 100%;
	}
	.fancybox .image-small{
		display:none;
	}
	.col-8{
  		width:100%;
	}


	
	}

@media (max-width: 40rem) {
	.reservation .container .grid .col-7 .col-4,.reservation .container .grid .col-5 .col-4{
		width:100%;

	}

	.nav-bar{
	height: 0em;}

	

	.main_nav ul li:hover{
		background-color: rgb(48,190,220);
		
	}

	.event img{
		width: 100%;
	}

	}
@media (max-width: 30rem) {
	.reservation .container .grid .col-7 .col-4,.reservation .container .grid .col-5 .col-4{
		width:100%;

	}
	.nav-bar{
	height: 0em;}

	

	.main_nav ul li:hover{
		background-color: rgb(48,190,220);
		
	}

	}